[submodule "source/Shared"]
	path = source/Shared
	url = https://github.com/FluBBaOfWard/GBA_Shared.git
[submodule "source/ARMMikey"]
	path = source/ARMMikey
	url = https://github.com/FluBBaOfWard/ARMMikey.git
[submodule "source/ARMSuzy"]
	path = source/ARMSuzy
	url = https://github.com/FluBBaOfWard/ARMSuzy.git
